[Unit]
Description=Django Gunicorn Service
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/democicd-pipeline
ExecStart=/home/ec2-user/democicd-pipeline/venv/bin/gunicorn \
    --workers 3 \
    --bind 0.0.0.0:8000 \
    myproject.wsgi:application

[Install]
WantedBy=multi-user.target
